<%= form_for(@users_task) do |f| %>
  <% if @users_task.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@users_task.errors.count, "error") %> prohibited this users_task from being saved:</h2>

      <ul>
      <% @users_task.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
