<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/net_computing_server/src/Webserver.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Webserver"/>
<stringAttribute key="org.eclipse.jdt.launching.PROGRAM_ARGUMENTS" value="5000"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="net_computing_server"/>
<stringAttribute key="org.eclipse.jdt.launching.VM_ARGUMENTS" value="-Djava.security.manager&#10;-Djava.security.policy=/home/jeroen/remco/net_computing/NetComputing2017/net_computing_shared/src/rmi/security.policy&#10;-Djava.rmi.server.hostname=145.97.164.22"/>
</launchConfiguration>
